@charset "utf-8";
/* CSS Document */
/* This is the landing page CSS style.
   Everyting here should be contained within the .content div
   which is defiend in style.css
*/

/* this are temporary to show placements */
.content .selectors {
	margin: 0 auto;
	height: 600px;
	background-color: #FF0;
	border:dashed white thin;
}
.content .selectors h3 {
	line-height: 600px;
	text-align:center;
	color: blue;
}




