@charset "utf-8";
/* CSS Document */
/* This is the report CSS style.
Everyting here should be contained within the .content div
which is defiend in style.css
*/

/*general styles*/
.hide {
	display: none;
}

.hnhIcon {
}



.reportWrapper {
	/*background: rgb(255,255,255); 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(241,241,241,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(241,241,241,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(241,241,241,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(241,241,241,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(241,241,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
	height: 100%;*/
}
.reportWrapper .reportBody {
	max-width: 90%;
	margin: 0 auto;
}
.reportContent{
}
/*.tabscontentOrig {
	height: 500px;
	position:relative;
	background-color:#000;
	opacity: .9
}*/

#tabscontent .name {
	/*position: absolute;
	width: 100%;
	height: 50px;
	left: 0;
	top: 10px;
	text-align:center;*/
	margin: 20px 0 15px;
}

#tabscontent .slideShow {
/*	position: absolute;
	width: 100%;
	height: 200px;
	left: 0;
	top: 60px;*/
	margin: 30px 0 20px;
	max-width: 400px;
}
#tabscontent .slideShow img {
	border: 1px solid #ccc;
}
#slides {
	display: none;
}
#tabscontent .slidesjs-pagination {
	margin-top: 10px;
}
#tabscontent .slidesjs-pagination-item {
	list-style: none;
}
#tabscontent .slidesjs-pagination-item a {
	text-indent: -999px;
	background-image: url(../images/HNH_ImageSprite.png);
	width: 16px;
	height: 16px;
	background-position: 0 0;
	display: block;
	float: left;
	overflow: hidden;
}
#tabscontent .slidesjs-pagination-item a.active {
	background-position: 0 -50px;
}
#tabscontent .slidesjs-navigation {
	display: none;
}


#tabscontent .description {
/*	position: absolute;
	width: 450px;
	height: 200px;
	right: 20px;
	top: 310px;
	overflow:scroll;*/
	font-size: 12px;
	max-width: 800px;
	display: inline-block;
}



#tabscontent .crimeRate {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 20px;
	top: 310px;
}
#tabscontent .homevalues {
	position: absolute;
	width: 150px;
	height: 70px;
	left: 20px;
	top: 390px;
}
#tabscontent .map {
	position: absolute;
	width: 300px;
	height: 200px;
	left: 200px;
	top: 300px;
}
#map {
	position: absolute;
	width: 300px;
	height: 200px;
	left: 200px;
	top: 300px;
}

.backToSearchBtnWrapper .backToSearchBtn {
}

/* expand menu */
.menuWrapper ul {
	padding: 0;
	margin: 0;
}
.menuWrapper li{
	display: inline-block;
	list-style-type: none;
	background-color:#efefef;
	width: 45px;
	padding: 10px 5px 6px;
	vertical-align: middle;
	cursor: pointer;
}
.menuWrapper li:hover {
	background-color: #ffe400;
	/*width: 120px;
	transition: width .3s;
	-webkit-transition: width .3s;*/
}
.menuWrapper li a{
	text-decoration: none;	
	color: #666;
}
.menuWrapper li:hover a{
	color: #000;
}
.menuWrapper li:hover .mapIcon {
	background-position: -200px -150px;
}
.menuWrapper li:hover .housePriceIcon {
	background-position: -200px -200px;
}
.menuWrapper li:hover .crimeIcon {
	background-position: -200px -250px;
}
.hnhIcon {
	background-image: url(../images/HNH_ImageSprite.png);
	background-repeat: no-repeat;
	background-color: transparent;	
	display: inline-block;
	overflow: hidden;
	padding: 0;
	margin-right: 5px;
	border: 0;
	vertical-align: middle;
	color: transparent;
	text-align: left;
	text-decoration: none;
	text-indent: -9999px;
	*display:inline; /* Fixes for IE7 Support */
	*text-indent:0;
	*zoom: 1;
}
.mapIcon {
	width: 37px;
	height: 35px;
	background-position: 0 -150px;
}

.housePriceIcon {
	width: 37px;
	height: 35px;
	background-position: 0 -200px;
}

.crimeIcon {
	width: 37px;
	height: 33px;
	background-position: 0 -250px;
}


/* contact a realtor */
#contactRealtorWrapper {
	position: fixed;
	right: -510px;
	z-index: 1;
}
.contactRealtorWrapper {
	width: 275px;
}
#contactRealtor_outer {
	border: 5px solid white;
	border-radius: 50% 50% 0 50%;
	box-shadow: -3px 3px 4px #BFBFBF;
	margin-bottom: 0;
}
#contactRealtor {
	background-color: white;
	border: 4px solid #E2DDD1;
	border-right: none;
	border-bottom: none;
	border-radius: 50% 50% 0 50%;
	font-size: 0.9em;
	height: 185px;
	margin-bottom: 0;
	padding: 40px;
	text-align: center;
}
a#close_button {
	float: right;
	color: #01769f;
}
.contactRealtor_text {
	font-size: 1.4em;
	margin: 0 0 14px 0;
}

/***************/
/* these are temporary to show placements */
#tabscontent h2 {
	font-size: 40px;
	font-weight: 300;
	/*margin: 0 auto;
	text-align:center;
	border:dashed white thin;
	 this should be reconciled with the tab styles 
	color: white;*/
}
/*#tabscontent .slideShow h3 {
line-height: 190px;
}
#tabscontent .crimeRate h3 {
line-height: 50px;
}
#tabscontent .homevalues h3 {
line-height: 70px;
}
#tabscontent .map h3 {
line-height: 150px;
}
#tabscontent .description h3 {
line-height: 150px;
}*/

