@charset "utf-8";
/* CSS Document */
/* This is the report CSS style.
Everyting here should be contained within the .content div
which is defiend in style.css
*/


.tabscontentOrig {
height: 500px;
position:relative;
background-color:#000;
opacity: .9
}

#tabscontent .name {
position: absolute;
width: 100%;
height: 50px;
left: 0;
top: 10px;
text-align:center;
}

#tabscontent .slideShow {
position: absolute;
width: 100%;
height: 200px;
left: 0;
top: 60px;
}

#tabscontent .crimeRate {
position: absolute;
width: 200px;
height: 50px;
left: 20px;
top: 310px;
}
#tabscontent .homevalues {
position: absolute;
width: 150px;
height: 70px;
left: 20px;
top: 390px;
}
#tabscontent .map {
position: absolute;
width: 300px;
height: 200px;
left: 200px;
top: 300px;
}
#map {
position: absolute;
width: 300px;
height: 200px;
left: 200px;
top: 300px;
}
#tabscontent .description {
position: absolute;
width: 450px;
height: 200px;
right: 20px;
top: 310px;
overflow:scroll;
}


/***************/
/* these are temporary to show placements */
#tabscontent h2,h3 {
margin: 0 auto;
text-align:center;
border:dashed white thin;
/* this should be reconciled with the tab styles */
color: white;
}
#tabscontent .slideShow h3 {
line-height: 190px;
}
#tabscontent .crimeRate h3 {
line-height: 50px;
}
#tabscontent .homevalues h3 {
line-height: 70px;
}
#tabscontent .map h3 {
line-height: 150px;
}
#tabscontent .description h3 {
line-height: 150px;
}