/*slideshow.css
styling of the slideshow class and definition of the animation keyframes
*/

.slideshow {
	-webkit-animation-name: slideshow; 
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
    -moz-animation-name: slideshow; 
	-moz-animation-duration: 5s;
	-moz-animiation-iteration-count: infinite;
    animation-name: slideshow; 
	animation-duration: 5s;
	animiation-iteration-count: infinite;
}

@-webkit-keyframes slideshow {
    from { 
        background-image:url("../images/sample_pic8.jpg");
    }    
    to { 
        background-image:url("../images/sample_pic9.jpg");
    }
}
@-moz-keyframes slideshow {
    from { 
        background-image:url("../images/sample_pic8.jpg");
    }    
    to { 
        background-image:url("../images/sample_pic9.jpg");
    }
}

@keyframes slideshow {
    from { 
        background-image:url("../images/sample_pic8.jpg");
    }    
    to { 
        background-image:url("../images/sample_pic9.jpg");
    }
}